/*-------------------------------------------------------------------Esta parte se aplicará a todas las páginas----------------------------------------------------------*/
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
/*---------------------CABECERA---------------------*/
.cabecera{
    background-color: cornflowerblue;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.logo img{
    width: 110px;
}
.menu{
    margin-right: 22px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
}
.menu a:hover{
    color: black;
    background-color: aqua;
}
/*---------------------PIE DE PÁGINA---------------------*/
.pie{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
.logopie img{
    width: 80px;
    margin-left: 10px;
}
.copyright{
    color: white;
}
.rrss{
    margin-right: 10px;
}
.rrss img{
    width: 60px;
}
/*------------------------------------------------------------------Pestaña INICIO---------------------------------------------------------*/
.principal{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(imagenes/fondoinicio.webp);
    width: 100%;
    height: 1000px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.eslogan{
    color: white;
    font-size: large;
    font-weight: bold;
}
/*------------------------------------------------------------------Pestaña PRODUCTOS---------------------------------------------------------*/